root = true

[*]
insert_final_newline = true

# Ensure text editors don't turn leading spaces into tabs,
# e.g. in multi-line bullet list items
[*.md]
indent_style = space
indent_size = 2
max_line_length = 79
