@charset "utf-8";

@font-face {
  font-family: "space-grotesk-regular";
  src: url("../assets/fonts/SpaceGrotesk-Regular.woff2");
}

@font-face {
  font-family: "space-grotesk-bold";
  src: url("../assets/fonts/SpaceGrotesk-Bold.woff2");
}

@font-face {
  font-family: "neue-machina-ultrabold";
  src: url("../assets/fonts/PPNeueMachina-Ultrabold.otf");
}

body {
  font-family: space-grotesk-regular;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 2rem auto;
  max-width: 50rem;
  padding: 0 1rem;

  strong {
    font-family: space-grotesk-bold;
  }
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-family: neue-machina-ultrabold;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

nav a {
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.page-link {
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.site-title {
  font-family: neue-machina-ultrabold;
  font-size: 1.4rem;
  color: #073642; // solarized base 02
}

.post-list a {
  color: #268bd2; // solarized blue
}

.post-meta {
  color: #586e75; // solarized base 01
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 50rem;
}

pre {
  padding: 0.5rem;
  overflow: auto;
}

code {
  font-size: 1rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 2555, 255, 0.3);
}

.grey-text {
  color: #828282
}

.interjection-text {
  font-size: 1.05rem;
}
