---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = "%Y-%m-%d" %}
        <a style="text-decoration:none;" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <span class="post-meta"><em>({{ post.date | date: date_format }})</em></span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
